<h1>Reports</h1>



<p>Here you can see the reports users have made.</p>

<div class="row">
  <div class="col-md-12">

  <div class="btn-group">
    <button class="btn btn-default btn-sm pull-left show-reports-button"
            ng-class="{'btn-primary': vm.showReports.resolved == undefined}"
            ng-click="vm.showReports = {}">
      All
    </button>

    <button class="btn btn-default btn-sm pull-left show-reports-button"
            ng-class="{'btn-primary': vm.showReports.resolved === false}"
            ng-click="vm.showReports.resolved = false">
      Only Unresolved Reports
    </button>

    <button class="btn btn-default btn-sm pull-left show-reports-button"
            ng-class="{'btn-primary': vm.showReports.resolved === true}"
            ng-click="vm.showReports.resolved = true">
      Only Resolved Reports
    </button>
  </div>

  <button class="btn btn-success btn-sm pull-right resolve-reports-button" ng-click="vm.resolveMultipleReports()">
    Resolve Multiple Reports
  </button>

  </div>
</div>

<div class="btn-group">
  <button class="btn btn-default btn-sm pull-left show-reports-button"
          ng-class="{'btn-primary': vm.sorting === 'dateCreated'}"
          ng-click="vm.sorting = 'dateCreated'">
Sort By Date Created
  </button>

  <button class="btn btn-default btn-sm pull-left show-reports-button"
          ng-class="{'btn-primary': vm.sorting === 'lastUpdated'}"
          ng-click="vm.sorting = 'lastUpdated'">
    Sort By Date Last Updated
  </button>
</div>

<div >
  <table class="table table-striped table-reports">
    <thead>
    <tr>
      <th></th>
      <th>Report ID</th>
      <th>Date Created</th>
      <th>Last Updated</th>
      <th>User</th>
      <th>Play</th>
      <th>Edit Page</th>
      <th></th>
    </tr>
    </thead>
    <tr ng-repeat="report in vm.reports | orderBy: vm.sorting :true | filter: vm.showReports">

      <td>
        <input type="checkbox" ng-if="report.resolved == false" ng-click="vm.addOrRemoveFromSelection($event, report)">
      </td>

      <td>
        {{report.id}}
      </td>

      <td>
        {{report.dateCreated | date : 'short'}}
      </td>

      <td>
        <p ng-if="report.lastUpdated">{{report.lastUpdated | date : 'short'}}</p>
        <p ng-if="!report.lastUpdated">-</p>
      </td>

      <td>
        {{report.userName}}
      </td>

      <td >
        <a class="ion-android-arrow-dropright-circle" style="font-size: 30px; padding: -30px" ui-sref="player({videoId: report.videoId})"></a>
      </td>
      <td>
        <a ng-if="report.showId" ui-sref="admin.show({showId: report.showId})">{{report.videoTitle}}</a>
        <a ng-if="!report.showId" ui-sref="admin.movie({movieId: report.videoId})">{{report.videoTitle}}</a>
        <p ng-if="report.episodeString">
          ({{report.episodeString}})
        </p>
      </td>


      <td>
        <button ng-if="report.resolved == false" title="Resolve report" class="btn btn-xs btn-success" ng-click="vm.resolveReport(report)"><i class="ion-checkmark"></i></button>
        <button ng-if="report.resolved == true" title="Unesolve report" class="btn btn-xs btn-danger" ng-click="vm.unresolveReport(report)"><i class="ion-close"></i></button>
      </td>


    </tr>
  </table>
</div>
