
<div class="dashboard">
  <div ng-if="newReleases.length && !selectedGenre">
    <h3>{{'DASHBOARD.NEW_RELEASES' | translate}}</h3>


    <div uis-owl-carousel class="new-releases-slider" >
      <div ng-repeat="newRelease in newReleases" class="new-releases-slide">
        <img class="poster-image" ng-src="https://image.tmdb.org/t/p/w342/{{newRelease.media.poster_path}}" class="pull-left">
        <div class="image-background" style="background-image: url('https://image.tmdb.org/t/p/w1280/{{newRelease.media.backdrop_path}}')">
          <i class="info-icon ion-ios-information" ng-click="showDetails(newRelease.media)"></i>
          <div class="new-release-footer">
            <a class="play-icon ion-ios-play" ui-sref="player({videoId: newRelease.videoToPlayId})"></a>
            <div class="new-releases-description">
              <h3>
                {{newRelease.media.title || newRelease.media.name}}
                <span ng-if="newRelease.media.release_date">({{newRelease.media.release_date.substring(0,4)}})</span>
              </h3>
              <h4>{{newRelease.description}}</h4>
              <p>{{newRelease.media.overview}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <h2 class="genre-display" ng-if="selectedGenre">{{'DASHBOARD.LOOKING_AT_GENRE' | translate}} <strong ng-bind="selectedGenre.name"></strong></h2>

  <div ng-if="continueWatching.length && !selectedGenre">
    <h3>{{'DASHBOARD.CONTINUE_WATCHING' | translate}}</h3>


    <div class="media-list media-list-continue-watching">
      <div class="media-list-item media-poster-item" ng-repeat="viewingStatus in continueWatching">
        <div class="media-item" >

          <img ng-if="viewingStatus.video.poster_image_src" ng-src="{{::viewingStatus.video.poster_image_src}}"/>
          <img ng-if="!viewingStatus.video.poster_image_src && viewingStatus.video.poster_path"
               ng-src="https://image.tmdb.org/t/p/w300/{{::viewingStatus.video.poster_path}}"/>
          <img ng-if="!viewingStatus.video.poster_path && !viewingStatus.video.poster_image_src"
               ng-src="{{basePath}}assets/poster-not-found.png"/>

          <div class="play-text">
            <h4>Continue "<span ng-bind="::(viewingStatus.video.title || viewingStatus.video.show.name)"></span>"</h4>
            <button class=" btn btn-secondary btn-xss complete-watching" ng-click="markCompleted(viewingStatus)">
              {{'DASHBOARD.MARK_COMPLETED' | translate}}</button>
            <p ng-show="viewingStatus.video.isEpisode"><span ng-bind="::viewingStatus.video.episodeString"></span></p>
          </div>

          <i class="info-icon ion-ios-information" ng-click="showDetails(viewingStatus.video)"></i>
          <a class="play-icon ion-ios-play" ui-sref="player({videoId: viewingStatus.video.id})"></a>
        </div>

        <div class="media-progress-wrapper">

          <div class="progress-info" ng-show="viewingStatus.video.isEpisode">
            <span ng-bind="::viewingStatus.video.episodeString"></span> - <span ng-bind="::viewingStatus.video.title"></span>
          </div>
          <div class="progress-info" ng-show="!viewingStatus.video.isEpisode" ng-bind="::viewingStatus.video.title"></div>

          <div class="progress-time"><span ng-bind="::(viewingStatus.currentPlayTime | secondsToDateTime | date:'mm:ss')"></span> min</div>

          <div class="media-progress" ng-if="viewingStatus.runtime">
            <div class="progress-inner" style="width: {{viewingStatus.currentPlayTime / viewingStatus.runtime * 100}}%;"></div>
          </div>
        </div>
      </div>
    </div>


    <hr/>
  </div>


  <div ng-if="recommendations.length && !selectedGenre">
    <h3>{{'DASHBOARD.RECOMMENDATIONS' | translate}}</h3>


    <div class="media-list media-list-continue-watching">
      <div class="media-list-item media-poster-item" ng-repeat="video in recommendations track by video.id">
        <div class="media-item" >

          <img ng-if="video.poster_image_src" ng-src="{{::video.poster_image_src}}"/>
          <img ng-if="!video.poster_image_src && video.poster_path"
               ng-src="https://image.tmdb.org/t/p/w300/{{::video.poster_path}}"/>
          <img ng-if="!video.poster_path && !video.poster_image_src"
               ng-src="{{basePath}}assets/poster-not-found.png"/>

          <div class="play-text">
            <h4 ng-bind="::(video.title || video.show.name)"></h4>
            <p ng-show="video.isEpisode"><span ng-bind="::video.episodeString"></span></p>
          </div>

          <i class="info-icon ion-ios-information" ng-click="showDetails(video)"></i>
          <a class="play-icon ion-ios-play" ui-sref="player({videoId: video.id})"></a>
        </div>
      </div>
    </div>


    <hr/>
  </div>

  <div>
    <h3>
      <span ng-show="!selectedGenre">{{'DASHBOARD.DISCOVER_SHOWS' | translate}}</span>
      <span ng-show="selectedGenre">{{::selectedGenre.name}} TV Shows</span>
    </h3>

    <div class="row dash-filter">
      <div class="col-md-3 col-lg-3 col-sm-4">
        {{'DASHBOARD.SORT' | translate}}
        <video-sort-order-dropdown current-sort="showSort" dropdown-type="'tvShow'"></video-sort-order-dropdown>
      </div>

      <div class="col-md-2 col-lg-2 col-sm-2">
        <input class="form-control input-sm" type="text" ng-model="dashFilter.tvShow.name"
               placeholder="{{'DASHBOARD.SEARCH_BY_NAME' | translate}}" />
      </div>
    </div>
    <br>

    <div class="spinner" ng-show="loadingTvShows">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>

    <p class="no-episodes-yet" ng-show="!tvShows.length">
      {{'DASHBOARD.NO_TVSHOWS_FOUND' | translate}}
    </p>

    <div class="media-list">
      <div class="media-list-item media-poster-item" ng-repeat="tvShow in tvShows | orderBy:showSort.sort |filter: dashFilter.showFilter">
        <div class="media-item" >
          <img ng-if="tvShow.poster_path" ng-src="https://image.tmdb.org/t/p/w300/{{::tvShow.poster_path}}"/>
          <img ng-if="!tvShow.poster_path && !tvShow.manualInput" ng-src="{{basePath}}assets/poster-not-found.png"/>

          <img ng-show="tvShow.manualInput && tvShow.poster_image_src" ng-src="{{::tvShow.poster_image_src}}">

          <div class="play-text">
            <h4 ng-bind="::tvShow.name"></h4>
          </div>

          <i class="info-icon ion-ios-information" ng-click="showDetails(tvShow)"></i>
          <a class="play-icon ion-ios-play" ng-click="fetchFirstEpisodeAndPlay(tvShow)"></a>
        </div>
      </div>
    </div>

    <hr/>
  </div>

  <div >
    <h3>
      <span ng-show="!selectedGenre">{{'DASHBOARD.DISCOVER_MOVIES' | translate}}</span>
      <span ng-show="selectedGenre">{{::selectedGenre.name}} Movies</span>
     </h3>

    <div class="row dash-filter" ng-hide="!dashFilter.movie && !movies.length">
      <div class="col-md-3 col-lg-3 col-sm-4">
        {{'DASHBOARD.SORT' | translate}}
        <video-sort-order-dropdown current-sort="movieSort" dropdown-type="'movie'"></video-sort-order-dropdown>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-2">
        <ui-select class="tag-select" multiple ng-model="dashFilter.movie.tags" theme="bootstrap" title="Filter by Tag">
          <ui-select-match placeholder="{{'DASHBOARD.FILTER_BY_TAG' | translate}}">{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="tag in tags | propsFilter: {name: $select.search}">
            <div class="tag-wrapper">
              <div class="tag-name" ng-bind-html="tag.name | highlight: $select.search"></div>
            </div>
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="col-md-2 col-lg-2 col-sm-2">
        <input class="form-control input-sm" type="text" ng-model="dashFilter.movie.title"
               placeholder="{{'DASHBOARD.SEARCH_BY_NAME' | translate}}" />
      </div>
    </div>
    <br>

    <div class="spinner" ng-show="loadingMovies">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>

    <p class="no-episodes-yet" ng-show="!movies.length">

      {{'DASHBOARD.NO_MOVIES_FOUND' | translate}}
    </p>

    <div class="media-list">
      <div class="media-list-item media-poster-item" ng-repeat="movie in movies | orderBy:movieSort.sort |filter: dashFilter.movieFilter">
        <div class="media-item" >

          <img ng-if="!movie.poster_path && !movie.poster_image_src" ng-src="{{basePath}}assets/poster-not-found.png"/>
          <img ng-if="movie.poster_path" ng-src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"/>
          <img ng-if="movie.poster_image_src" ng-src="{{movie.poster_image_src}}"/>

          <div class="play-text">
            <h4 ng-bind="::movie.title"></h4>
            <p ng-bind="::movie.release_date.substring(0,4)"></p>
          </div>

          <i class="info-icon ion-ios-information" ng-click="showDetails(movie)"></i>
          <a class="play-icon ion-ios-play" ui-sref="player({videoId: movie.id})"></a>
        </div>
      </div>
    </div>
  </div>


  <div ng-if="genericVideos.length">
    <h3>
      <span ng-show="!selectedGenre">{{'DASHBOARD.DISCOVER_OTHER_VIDEOS' | translate}}</span>
      <span ng-show="selectedGenre">{{::selectedGenre.name}} Videos</span>
     </h3>

    <div class="row dash-filter">
      <div class="col-md-3 col-lg-3 col-sm-4">
        {{'DASHBOARD.SORT' | translate}}
        <video-sort-order-dropdown current-sort="movieSort" dropdown-type="'movie'"></video-sort-order-dropdown>
      </div>

      <div class="col-md-2 col-lg-2 col-sm-2">
        <input class="form-control input-sm" type="text" ng-model="dashFilter.genericVideo.title" placeholder="Search by Title..." />
      </div>
    </div>
    <br>

    <div class="spinner" ng-show="loadingGenericVideos">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>



    <div class="media-list">
      <div class="media-list-item media-poster-item" ng-repeat="movie in genericVideos | orderBy:movieSort.sort |filter: dashFilter.genericVideo.title">
        <div class="media-item" >
          <img ng-if="!movie.poster_image_src" ng-src="{{basePath}}assets/poster-not-found.png"/>
          <img ng-show="movie.poster_image_src" ng-src="{{::movie.poster_image_src}}">
          <div class="play-text">
            <h4 ng-bind="::movie.title"></h4>
            <p ng-bind="::movie.release_date.substring(0,4)"></p>
          </div>

          <i class="info-icon ion-ios-information" ng-click="showDetails(movie)"></i>
          <a class="play-icon ion-ios-play" ui-sref="player({videoId: movie.id})"></a>
        </div>
      </div>
    </div>
  </div>

</div>
