
<div class="dashboard">
  <div ng-if="vm.newReleases.length && !vm.selectedGenre">
    <h3>{{'DASHBOARD.NEW_RELEASES' | translate}}</h3>


    <div uis-owl-carousel class="new-releases-slider" >
      <div ng-repeat="newRelease in vm.newReleases" class="new-releases-slide">
        <img class="poster-image" ng-src="https://image.tmdb.org/t/p/w342/{{newRelease.media.poster_path}}" class="pull-left">
        <div class="image-background" style="background-image: url('https://image.tmdb.org/t/p/w1280/{{newRelease.media.backdrop_path}}')">
          <i class="info-icon ion-ios-information" ng-click="vm.showDetails(newRelease.media)"></i>
          <div class="new-release-footer">
            <a class="play-icon ion-ios-play" ui-sref="player({videoId: newRelease.videoToPlayId})"></a>
            <div class="new-releases-description">
              <h3>
                {{newRelease.media.title || newRelease.media.name}}
                <span ng-if="newRelease.media.release_date">({{newRelease.media.release_date.substring(0,4)}})</span>
              </h3>
              <h4>{{newRelease.description}}</h4>
              <p>{{newRelease.media.overview}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <h2 class="genre-display" ng-if="$root.selectedGenre">{{'DASHBOARD.LOOKING_AT_GENRE' | translate}} <strong ng-bind="$root.selectedGenre.name"></strong></h2>

  <div ng-if="vm.continueWatching.length && !$root.selectedGenre">
    <h3>{{'DASHBOARD.CONTINUE_WATCHING' | translate}}</h3>


    <div class="media-list media-list-continue-watching">
      <div class="media-list-item media-poster-item" ng-repeat="viewingStatus in vm.continueWatching">
        <div class="media-item" >

          <img ng-if="viewingStatus.video.poster_image_src" ng-src="{{::viewingStatus.video.poster_image_src}}"/>
          <img ng-if="!viewingStatus.video.poster_image_src && viewingStatus.video.poster_path"
               ng-src="https://image.tmdb.org/t/p/w300/{{::viewingStatus.video.poster_path}}"/>
          <img ng-if="!viewingStatus.video.poster_path && !viewingStatus.video.poster_image_src"
               ng-src="{{$root.basePath}}assets/poster-not-found.png"/>

          <div class="play-text">
            <h4>Continue "<span ng-bind="::(viewingStatus.video.title || viewingStatus.video.show.name)"></span>"</h4>
            <button class=" btn btn-secondary btn-xss complete-watching" ng-click="vm.markCompleted(viewingStatus)">
              {{'DASHBOARD.MARK_COMPLETED' | translate}}</button>
            <p ng-show="viewingStatus.video.isEpisode"><span ng-bind="::viewingStatus.video.episodeString"></span></p>
          </div>

          <i class="info-icon ion-ios-information" ng-click="vm.showDetails(viewingStatus.video)"></i>
          <a class="play-icon ion-ios-play" ui-sref="player({videoId: viewingStatus.video.id})"></a>
        </div>

        <div class="media-progress-wrapper">

          <div class="progress-info" ng-show="viewingStatus.video.isEpisode">
            <span ng-bind="::viewingStatus.video.episodeString"></span> - <span ng-bind="::viewingStatus.video.title"></span>
          </div>
          <div class="progress-info" ng-show="!viewingStatus.video.isEpisode" ng-bind="::viewingStatus.video.title"></div>

          <div class="progress-time"><span ng-bind="::(viewingStatus.currentPlayTime | secondsToDateTime | date:'mm:ss')"></span> min</div>

          <div class="media-progress" ng-if="viewingStatus.runtime">
            <div class="progress-inner" style="width: {{viewingStatus.currentPlayTime / viewingStatus.runtime * 100}}%;"></div>
          </div>
        </div>
      </div>
    </div>


    <hr/>
  </div>


  <div ng-if="vm.recommendations.length && !$root.selectedGenre">
    <h3>{{'DASHBOARD.RECOMMENDATIONS' | translate}}</h3>


    <div class="media-list media-list-continue-watching">
      <div class="media-list-item media-poster-item" ng-repeat="video in vm.recommendations track by video.id">
        <div class="media-item" >

          <img ng-if="video.poster_image_src" ng-src="{{::video.poster_image_src}}"/>
          <img ng-if="!video.poster_image_src && video.poster_path"
               ng-src="https://image.tmdb.org/t/p/w300/{{::video.poster_path}}"/>
          <img ng-if="!video.poster_path && !video.poster_image_src"
               ng-src="{{$root.basePath}}assets/poster-not-found.png"/>

          <div class="play-text">
            <h4 ng-bind="::(video.title || video.show.name)"></h4>
            <p ng-show="video.isEpisode"><span ng-bind="::video.episodeString"></span></p>
          </div>

          <i class="info-icon ion-ios-information" ng-click="vm.showDetails(video)"></i>
          <a class="play-icon ion-ios-play" ui-sref="player({videoId: video.id})"></a>
        </div>
      </div>
    </div>


    <hr/>
  </div>

  <!--   --------------- TV SHOWS ---------------------  -->

  <div>
    <h3>
      <span ng-show="!$root.selectedGenre">{{'DASHBOARD.DISCOVER_SHOWS' | translate}}</span>
      <span ng-show="$root.selectedGenre">{{::$root.selectedGenre.name}} TV Shows</span>
    </h3>

    <div class="row dash-filter">
      <div class="col-md-3 col-lg-3 col-sm-4">
        {{'DASHBOARD.SORT' | translate}}
        <video-sort-order-dropdown ng-model="vm.tvShow.sorter" ng-model-options="{getterSetter:true}" dropdown-type="'tvShow'"></video-sort-order-dropdown>
      </div>

      <div class="col-md-2 col-lg-2 col-sm-2">
        <input class="form-control input-sm" type="text" ng-model="vm.tvShow.filter.name"
               placeholder="{{'DASHBOARD.SEARCH_BY_NAME' | translate}}" />
      </div>
    </div>
    <br>

    <div class="spinner" ng-show="vm.tvShow.isLoading">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>

    <p class="no-episodes-yet" ng-show="!vm.tvShow.list.length">
      {{'DASHBOARD.NO_TVSHOWS_FOUND' | translate}}
    </p>

    <div class="media-list">
      <div class="media-list-item media-poster-item" ng-repeat="tvShow in vm.tvShow.list | filter: vm.tvShow.filter.execute">
        <div class="media-item" >
          <img ng-src="{{::vm.tvShow.getThumbnail(tvShow)}}">

          <div class="play-text">
            <h4 ng-bind="::tvShow.name"></h4>
          </div>

          <i class="info-icon ion-ios-information" ng-click="vm.showDetails(tvShow)"></i>
          <a class="play-icon ion-ios-play" ng-click="vm.fetchFirstEpisodeAndPlay(tvShow)"></a>
        </div>
      </div>
    </div>


    <div class="text-center" ng-if="vm.tvShow.total > vm.tvShow.list.length">
      <button class="btn btn-primary btn-outline" ng-click="vm.tvShow.loadMore()">Load more ...</button>
    </div>

    <hr/>
  </div>


  <!--   --------------- MOVIES ---------------------  -->

  <div >
    <h3>
      <span ng-show="!selectedGenre">{{'DASHBOARD.DISCOVER_MOVIES' | translate}}</span>
      <span ng-show="selectedGenre">{{::selectedGenre.name}} Movies</span>
     </h3>

    <div class="row dash-filter" ng-hide="!vm.movie.filter && !vm.movie.list.length">
      <div class="col-md-3 col-lg-3 col-sm-4">
        {{'DASHBOARD.SORT' | translate}}
        <video-sort-order-dropdown ng-model="vm.movie.sorter" ng-model-options="{getterSetter:true}" dropdown-type="'movie'"></video-sort-order-dropdown>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-2">
        <ui-select class="tag-select" multiple ng-model="vm.movie.filter.tags" theme="bootstrap" title="Filter by Tag">
          <ui-select-match placeholder="{{'DASHBOARD.FILTER_BY_TAG' | translate}}">{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="tag in tags | propsFilter: {name: $select.search}">
            <div class="tag-wrapper">
              <div class="tag-name" ng-bind-html="tag.name | highlight: $select.search"></div>
            </div>
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="col-md-2 col-lg-2 col-sm-2">
        <input class="form-control input-sm" type="text" ng-model="vm.movie.filter.title"
               placeholder="{{'DASHBOARD.SEARCH_BY_NAME' | translate}}" />
      </div>
    </div>
    <br>

    <div class="spinner" ng-show="vm.movie.isLoading">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>

    <p class="no-episodes-yet" ng-show="!vm.movie.list.length">

      {{'DASHBOARD.NO_MOVIES_FOUND' | translate}}
    </p>

    <div class="media-list">
      <div class="media-list-item media-poster-item" ng-repeat="movie in vm.movie.list | orderBy:vm.movie.sorter.sort |filter: vm.movie.filter.execute">
        <div class="media-item" >

          <img ng-src="{{::vm.movie.getThumbnail(movie)}}">

          <div class="play-text">
            <h4 ng-bind="::movie.title"></h4>
            <p ng-bind="::movie.release_date.substring(0,4)"></p>
          </div>

          <i class="info-icon ion-ios-information" ng-click="vm.showDetails(movie)"></i>
          <a class="play-icon ion-ios-play" ui-sref="player({videoId: movie.id})"></a>
        </div>
      </div>
    </div>

    <div class="text-center" ng-if="vm.movie.total > vm.movie.list.length">
      <button class="btn btn-primary btn-outline" ng-click="vm.movie.loadMore()">Load more ...</button>
    </div>

  </div>


  <!--   --------------- GENERIC VIDEOS ---------------------  -->

  <div ng-if="vm.genericVideo.list.length">
    <h3>
      <span ng-show="!$root.selectedGenre">{{'DASHBOARD.DISCOVER_OTHER_VIDEOS' | translate}}</span>
      <span ng-show="$root.selectedGenre">{{::$root.selectedGenre.name}} Videos</span>
     </h3>

    <div class="row dash-filter">
      <div class="col-md-3 col-lg-3 col-sm-4">
        {{'DASHBOARD.SORT' | translate}}
        <video-sort-order-dropdown ng-model="vm.genericVideo.sorter" ng-model-options="{getterSetter: true}" dropdown-type="'movie'"></video-sort-order-dropdown>
      </div>

      <div class="col-md-2 col-lg-2 col-sm-2">
        <input class="form-control input-sm" type="text" ng-model="vm.genericVideo.filter.title" placeholder="Search by Title..." />
      </div>
    </div>
    <br>

    <div class="spinner" ng-show="vm.genericVideo.isLoading">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>



    <div class="media-list">
      <div class="media-list-item media-poster-item" ng-repeat="movie in vm.genericVideo.list  |filter: vm.genericVideo.filter.title">
        <div class="media-item" >
          <img ng-src="{{::vm.genericVideo.getThumbnail(movie)}}">
          <div class="play-text">
            <h4 ng-bind="::movie.title"></h4>
            <p ng-bind="::movie.release_date.substring(0,4)"></p>
          </div>

          <i class="info-icon ion-ios-information" ng-click="vm.showDetails(movie)"></i>
          <a class="play-icon ion-ios-play" ui-sref="player({videoId: movie.id})"></a>
        </div>
      </div>
    </div>
  </div>

</div>
