<div class="modal-body">
  <form class="form-horizontal">
    <legend>
      Invite User
      <div class="spinner" ng-show="loading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </legend>

    <div class="panel panel-danger" ng-if="error">
      <div class="panel-body" ng-if="error">
        {{error}}
      </div>
    </div>

    <div ng-class="{'has-error has-feedback': error, 'has-success has-feedback': validUser}">
      <div class="form-group" >
        <div class="col-sm-3">
          <label class="control-label">E-Mail-Address</label>
        </div>
        <div class="col-sm-8">
          <input type="email" class="form-control" ng-model="user.username" placeholder="E-Mail-Address"
                 ng-model-options="{updateOn: 'blur'}" ng-change="checkAvailability(user.username)">
          <span class="ion-close form-control-feedback" ng-show="error" aria-hidden="true"></span>
          <span class="ion-checkmark form-control-feedback" ng-show="validUser" aria-hidden="true"></span>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-8 col-sm-offset-3">
        <label> <input type="checkbox" ng-model="user.enabled"/> &nbsp; Enabled (user can log in and view videos)</label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-3">
        <label class="control-label">Roles</label>
      </div>
      <div class="col-sm-8">
        <div class="form-control" style="height: auto;">
          <div ng-repeat="role in roles">
            <input type="checkbox" name="authorities[]" value="{{role.id}}" ng-checked="checkAuthorities(role.id)"
                   ng-click="toggleAuthorities(role)"> {{role.displayName}}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button ng-if="!user.id" class="btn btn-success" ng-disabled="!validUser && !user.id" ng-click="saveAndInviteUser(user)">Save & Invite User</button>
  <button ng-if="user.id" class="btn btn-success" ng-click="saveAndInviteUser(user)">Save User</button>
  <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
