<div class="modal-body">
  <legend>
    Video and subtitles for "{{video.name || video.title}}"
  </legend>

  <ul class="nav nav-tabs">
    <li ng-class="{'active': activeTab == 'upload'}" ng-click="activeTab = 'upload'"><a>Upload</a></li>
    <li ng-class="{'active': activeTab == 'url'}" ng-click="activeTab = 'url'"><a>External URL</a></li>
    <li ng-class="{'active': activeTab == 'local'}" ng-click="activeTab = 'local'"><a>Local File</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" ng-class="{'active': activeTab == 'upload'}">
      <button ng-model="file"  class="btn btn-dropzone btn-block btn-lg"
              ngf-drop ngf-drag-over-class="dragover-upload" ngf-change="upload($files)" ngf-select>

        <span ng-show="uploadStatus.percentage == null">Drop File or Click to Choose</span>

        <span ng-show="uploadStatus.percentage != null && uploadStatus.percentage < 100">Uploading {{uploadStatus.percentage}}%</span>

        <span ng-show="uploadStatus.percentage == 100">
          <i class="ion-load-c spin icon-xl"></i>
          <br>
          Processing...
        </span>
      </button>

    </div>
    <div class="tab-pane" ng-class="{'active': activeTab == 'url'}">
      <div>
        <div class="form-group">
          <input type="url" ng-model="video.externalLink" class="form-control input-sm" placeholder="External URL">
        </div>
      </div>

      <button class="btn btn-success btn-sm" ng-click="addExternalUrl(video.externalLink)" ng-disabled="!video.externalLink">Add External URL</button>


    </div>
    <div class="tab-pane" ng-class="{'active': activeTab == 'local'}">

      <div>
        <div class="form-group">
          <input type="text" ng-model="localFileSearch" class="form-control input-sm" placeholder="Search current directory...">
        </div>
      </div>

      <div>
        <span class="btn btn-default btn-sm" ng-click="backLocalDirectory()" ng-if="localDir.length > 0">
          <span class="ion-android-arrow-back"></span>
        </span>
        <span>{{ localDir.join('/') }}</span>

        <table class="table table-striped">
          <tr ng-repeat="file in localFiles | orderBy: ['-directory', 'name'] | filter:localFileSearch">
            <td>
            <span ng-if="file.directory" ng-click="openLocalDirectory(file)">
              <span class="ion-folder"></span>
              {{ file.name }}
            </span>

            <span ng-if="!file.directory">
              <span class="ion-document"></span>
              {{ file.name }}
            </span>
            </td>

            <td>
              <span class="btn btn-success btn-sm" ng-click="addLocalFile(file.path)" ng-if="!file.directory">
                Choose
              </span>
            </td>
          </tr>
        </table>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="closeOnSelect" ng-click="toggleCloseOnSelect()"> Close Modal on Select
        </label>
      </div>
    </div>
  </div>


    <table class="table table-striped" style="font-size: 14px;" ng-show="video.files.length">
      <thead>
      <tr>
        <th>Name </th>
        <th>Type</th>
        <th style="width: 100px;"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="file in video.files">
        <td>{{file.originalFilename}}</td>
        <td>{{file.contentType}}</td>
        <td style="padding: 6px;">
          <button title="Delete file" class="btn btn-xs btn-danger" ng-click="removeFile(file)"><i class="ion-trash-a"></i></button>
          <a target="_blank" href="{{file.src}}" class="btn btn-xs btn-primary">preview</a>
        </td>
      </tr>
      </tbody>
    </table>

    <div ng-show="video.subtitles.length">
      <br/>
      <h4>Subtitles</h4>

      <table class="table table-striped" style="font-size: 14px;">
        <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Label</th>
          <th>Language</th>
          <th style="width: 10px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="file in video.subtitles">
          <td>{{file.originalFilename}}</td>
          <td>{{file.contentType}}</td>
          <th>
            <input class="form-control" value="{{file.subtitleLabel}}" placeholder="Country" ng-change="subtitleLabel" ng-model="file.subtitleLabel"></input>
          </th>
          <th>
            <input class="form-control" value="{{file.subtitleSrcLang}}" placeholder="ISO-3166 Country Code" ng-change="subtitleSrcLang" ng-model="file.subtitleSrcLang"></input>
          </th>
          <td style="padding: 6px;">
            <button title="Delete file" class="btn btn-xs btn-danger" ng-click="removeFile(file)"><i class="ion-trash-a"></i></button>
            <button title="" class="btn btn-xs btn-primary" ng-click="saveChanges(file)" ><i class="ion-checkmark"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>

