<tr ng-if="file.directory">
  <td>
    <input type="checkbox" ng-click="vm.toggleSelection(file)"></td>
  <td>
    <span ng-click="vm.openLocalDirectory(file)">
      <span class="ion-folder"></span> {{ file.name }}
    </span>
    <table class="table table-striped" ng-if="file.showFiles">
      <tbody ng-repeat="file in file.localFiles | orderBy: ['-directory', 'name'] | filter:vm.localFileSearch"
             ng-include="'/streama/modal--create-from-file-recursive-item.htm'">
      </tbody>
    </table>
  </td>
  <td>
    <span ng-if="vm.getMatchForPath(file.path)">
      {{vm.getMatchForPath(file.path).message}}
    </span></td>
  <td>
    <button class="btn btn-xs btn-success button-icon" ng-if="vm.getMatchForPath(file.path).status == 1"
            ng-click="vm.addSelectedFile()">Add this file
    </button>
  </td>
</tr>

<tr ng-if="!file.directory">
  <td>
    <input type="checkbox" ng-click="vm.toggleSelection(file)">
  </td>
  <td>
    <span>
      <span class="ion-document"></span> {{ file.name }}
    </span>
  </td>
  <td>
    <span ng-if="vm.getMatchForPath(file.path) && vm.getMatchForPath(file.path).status == 1">
      <a ng-click="vm.openMediaDetail(vm.getMatchForPath(file.path))"><i class="ion-ios-eye"></i> Preview Match</a>
    </span>
    <span ng-if="vm.getMatchForPath(file.path) && vm.getMatchForPath(file.path).status != 1">
      {{vm.getMatchForPath(file.path).message}}
    </span>
  </td>
  <td>
    <button class="btn btn-xs btn-success button-icon" ng-if="vm.getMatchForPath(file.path).status == 1"
            ng-click="vm.addSelectedFile(file)">Add this file
    </button>
    <a ng-if="vm.getMatchForPath(file.path).status == 2" ng-click="vm.openAdminForm(vm.getMatchForPath(file.path))"
       class="text-success">Open in new tab <i class="ion-android-open"></i></a>
  </td>
</tr>
