<div class="files-wrapper" ng-show="episode.videoFiles.length">
  <div class="file-wrapper" ng-repeat="file in episode.videoFiles">
    <div class="file-name">
      {{file.originalFilename}} &nbsp;
      <button ng-click="removeFile(file)" title="Remove File" class="btn btn-danger btn-xxs"><i class="ion-close"></i></button>
    </div>
  </div>
</div>


<div class="files-wrapper" ng-show="episode.subtitles.length">
  <hr/>


  <h4>Added Subtitles</h4>
  <div class="file-wrapper" ng-repeat="file in episode.subtitles">
    <div class="file-name">
      {{file.originalFilename}} &nbsp;
      <button ng-click="removeFile(file)" title="Remove File" class="btn btn-danger btn-xxs"><i class="ion-close"></i></button>
    </div>
  </div>
</div>
