<div class="sub-profile-page-container">
  <div class="profiles-container" ng-if="!isManageProfiles && !(isEditProfile || isCreateProfile)">
    <p class="who-watching-header">Who's watching?</p>

    <div class="select-profile-container" ng-if="existingProfiles.length">
      <div class="item-profile-container" ng-repeat="subp in existingProfiles" ng-click="setCurrentProfile(subp)">
        <div class="avatar" ng-style="{'background-color': '#'+(subp.avatar_color || standartColor)}">
          <img src="/assets/streama-profile-smiley.png" alt="">
        </div>
        <p class="profile-name">{{subp.profile_name}}</p>
      </div>

      <div class="add-profile" ng-click="goToCreateProfile()">
        <div class="avatar">
          <p class="add">+</p>
        </div>
        <p class="profile-name">Add Profile</p>
      </div>
    </div>
    <div class="select-profile-container" ng-if="!existingProfiles.length">
      <div class="add-profile" ng-click="goToCreateProfile()">
        <div class="avatar">
          <p class="add">+</p>
        </div>
        <p class="profile-name">Add Profile</p>
      </div>
    </div>


    <button class="manage-profiles-btn" ng-click="toggleManageProfiles()">Manage profiles</button>
  </div>

  <!-- Manage Profiles -->
  <div class="profiles-container" ng-if="isManageProfiles && !(isEditProfile || isCreateProfile)">
    <p class="who-watching-header">Manage profiles:</p>

    <div class="select-profile-container" ng-if="existingProfiles.length">
      <div class="item-editable-container" ng-repeat="subp in existingProfiles" ng-click="goToEditProfile(subp)">
        <div class="avatar" ng-style="{'background-color': '#'+(subp.avatar_color || standartColor)}">
          <img src="/assets/streama-profile-smiley.png" alt="">
        </div>
        <div class="grey-editable-avatar"></div>
        <div class="edit-label-container"><p>Edit</p></div>
        <p class="profile-name">{{subp.profile_name}}</p>
      </div>

      <div class="add-profile" ng-click="goToCreateProfile()">
        <div class="avatar">
          <p class="add">+</p>
        </div>
        <p class="profile-name">Add Profile</p>
      </div>
    </div>
    <div class="select-profile-container" ng-if="!existingProfiles.length">
      <div class="add-profile" ng-click="goToCreateProfile()">
        <div class="avatar">
          <p class="add">+</p>
        </div>
        <p class="profile-name">Add Profile</p>
      </div>
    </div>

    <button class="manage-profiles-btn done-btn" ng-click="toggleManageProfiles()">Done</button>
  </div>


  <!-- Edit - create profile -->
  <div class="profiles-container" ng-if="isEditProfile || isCreateProfile">
    <p class="who-watching-header">{{isEditProfile ? "Edit Profile" : "Create Profile"}}</p>

    <div class="form-container">
      <div class="choose-avatar-color">
        <div class="form-avatar" ng-style="{'background-color': '#' + profile.avatar_color}">
          <img src="/assets/streama-profile-smiley.png" alt="">
        </div>
        <div class="colors-container">
          <div class="single-color"
               ng-repeat="col in avaliabeColors"
               ng-style="{'background-color': '#'+col}"
               ng-click="setProfileColor(col)"></div>
        </div>
      </div>
      <input type="text" class="form-control"
             ng-model="profile.profile_name" placeholder="Enter name">

      <div class="is-kid-container">
        <input type="checkbox" ng-model="profile.isKid">
        <p>Kid?</p>
      </div>
      <select class="form-control" ng-model="profile.profile_language"
              ng-options="lang as ('LANGUAGE_'+lang | translate) for lang in $root.availableLanguages"></select>


    </div>

    <div class="btns-container">
      <button class="manage-profiles-btn done-btn" ng-click="saveProfile()">
        {{isEditProfile ? "Save" : "Create" }}
      </button>
      <button class="manage-profiles-btn " ng-click="refreshStates()">Cancel</button>
      <button class="manage-profiles-btn " ng-if="isEditProfile" ng-click="deleteProfile()">Delete</button>
    </div>
  </div>

</div>
