<button class="btn btn-primary pull-right btn-lg" ng-click="openShowModal()">Create new Show</button>

<h1>Shows</h1>

<div class="row">
  <div class="col-md-5">
    <input placeholder="Search Show..." type="text" ng-model="search" class="form-control input-sm" />
  </div>
</div>

<div class="spinner big" ng-show="loading">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>


<hr/>

<div class="media-list">
  <div class="media-list-item media-poster-item" ng-repeat="show in shows | filter:search" ui-sref="admin.show({showId: show.id})">
    <div class="media-item" >
      <img ng-if="show.poster_path" ng-src="https://image.tmdb.org/t/p/w300/{{show.poster_path}}"/>
      <div ng-if="!show.poster_path" class="fallback-image"></div>

      <div class="play-text">
        <h4>{{show.name}}</h4>
        <p>{{show.first_air_date}} | <i class="ion-ios-star"></i>{{show.vote_average}} </p>
        <p>{{show.episodesWithFilesCount}}/{{show.episodesCount}} uploaded</p>
      </div>
    </div>
  </div>
</div>


