<button class="btn btn-primary pull-right btn-lg" ng-click="openMovieModal()">Create new Movie</button>

<h1>
  Movies
  <video-sort-order-dropdown current-sort="currentSort" dropdown-type="'movie'"/>
</h1>

<div class="row">
  <div class="col-md-5">
    <input placeholder="Search Movie from collection or TheMovieDB..." type="text" ng-model="search" ng-change="doSearch(search)" class="form-control input-sm" />
  </div>
</div>

<div class="spinner big" ng-show="loading">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>

<div ng-show="movies.length">
  <hr/>

  <div class="media-list-item media-poster-item" ng-class="{'no-files': !movie.hasFiles}"
       ng-repeat="movie in movies | filter:search | orderBy:currentSort.sort" ui-sref="admin.movie({movieId: movie.id})">
    <div class="media-item" >
      <img ng-if="!movie.poster_path && !movie.poster_image_src" ng-src="{{basePath}}assets/poster-not-found.png"/>
      <img ng-if="movie.poster_path" ng-src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"/>
      <img ng-if="movie.poster_image_src" ng-src="{{movie.poster_image_src}}"/>



      <div class="play-text">
        <h4>{{::movie.title}}</h4>
        <p>{{::movie.release_date.substring(0,4)}}</p>
        <span class="label label-danger" ng-show="!movie.hasFiles"><i class="ion-alert-circled"></i> No Video File yet!</span>
      </div>

      <i class="warning-icon ion-alert-circled" ng-show="!movie.hasFiles"></i>
    </div>
  </div>
</div>



<div ng-if="suggestedMovies.length">
  <hr>
  <h3>Want to add a new Movie?</h3>
  <div class="media-list similar-media">
    <div class="media-list-item" ng-repeat="movie in suggestedMovies | filter:search | orderBy: '-vote_count'" ng-if="!alreadyAdded(movie)">
      <div class="hover-overlay">
        <div>
          <button class="btn btn-primary btn-sm btn-block" ng-click="addFromSuggested(movie, true)">Add and Open</button>
          <button class="btn btn-primary btn-sm btn-block" ng-click="addFromSuggested(movie, false)">Add and Continue</button>
        </div>
      </div>
      <div class="media-item" >
        <img ng-src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}"/>
      </div>
      <div class="media-meta">Release: {{::movie.release_date.substring(0, 4)}} | <i class="ion-ios-star"></i> {{::movie.vote_average}}</div>
    </div>
  </div>

</div>

