<div class="dashboard">

  <div class="spinner big" ng-show="loading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>

  <div ng-if="continueWatching.length">
    <h3>Continue watching</h3>


    <div class="media-list media-list-continue-watching">
      <div class="media-list-item" ng-repeat="viewingStatus in continueWatching">
        <div class="media-item">
          <img ng-if="viewingStatus.video.backdrop_path" ng-src="https://image.tmdb.org/t/p/w300/{{viewingStatus.video.backdrop_path}}"/>
          <div ng-if="!viewingStatus.video.show.backdrop_path" class="fallback-image"></div>

          <div class="play-text">Continue "{{viewingStatus.video.title || viewingStatus.video.show.name}}"</div>
          <button class=" btn btn-secondary btn-xss complete-watching" ng-click="markCompleted(viewingStatus)">Mark completed</button>
          <i class="play-icon ion-ios-play" ui-sref="player({videoId: viewingStatus.video.id})"></i>
        </div>

        <div class="media-progress-wrapper">

          <div class="progress-info" ng-show="viewingStatus.video.isEpisode">{{viewingStatus.video.episodeString}} - {{viewingStatus.video.title}}</div>
          <div class="progress-info" ng-show="!viewingStatus.video.isEpisode">{{viewingStatus.video.title}}</div>

          <div class="progress-time">{{viewingStatus.currentPlayTime | secondsToDateTime | date:'mm:ss'}} min</div>

          <div class="media-progress" ng-if="viewingStatus.runtime">
            <div class="progress-inner" style="width: {{viewingStatus.currentPlayTime / viewingStatus.runtime * 100}}%;"></div>
          </div>
        </div>
      </div>
    </div>

    <hr/>
  </div>

  <div ng-if="tvShows.length">
    <h3>Discover Shows
      <video-sort-order-dropdown current-sort="showSort" dropdown-type="'tvShow'"></video-sort-order-dropdown></h3>
    <div class="media-list">
      <div class="media-list-item media-poster-item" ng-repeat="tvShow in tvShows | orderBy:showSort.sort">
        <div class="media-item" >
          <img ng-if="tvShow.poster_path" ng-src="https://image.tmdb.org/t/p/w300/{{tvShow.poster_path}}"/>
          <div ng-if="!tvShow.poster_path" class="fallback-image"></div>

          <div class="play-text">
            <h4>{{tvShow.name}}</h4>
            <p>{{tvShow.firstEpisode.episodeString}} - {{tvShow.firstEpisode.name}}</p>
          </div>

          <i class="info-icon ion-ios-information" ng-click="showDetails(tvShow)"></i>
          <a class="play-icon ion-ios-play" ui-sref="player({videoId: tvShow.firstEpisode.id})"></a>
        </div>
      </div>
    </div>

    <hr/>
  </div>

  <div ng-if="movies.length">
    <h3>Discover Movies
      <video-sort-order-dropdown current-sort="movieSort" dropdown-type="'movie'"></video-sort-order-dropdown></h3>
    <div class="media-list">
      <div class="media-list-item media-poster-item" ng-repeat="movie in movies | orderBy:movieSort.sort">
        <div class="media-item" >
          <img ng-src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}"/>

          <div class="play-text">
            <h4>{{movie.title}}</h4>
            <p>{{movie.release_date.substring(0,4)}}</p>
          </div>

          <i class="info-icon ion-ios-information" ng-click="showDetails(movie)"></i>
          <a class="play-icon ion-ios-play" ui-sref="player({videoId: movie.id})"></a>
        </div>
      </div>
    </div>
  </div>

</div>
