

<div class="admin">





  <div class="nav">
    <ul>
      <div question-object="question" ng-repeat="question in questions" ng-cloak>
        <li>
          <a href="" ng-click="gotoAnchor($index+1)">{{$index+1}}. {{ 'FAQ.' + question + '.TITLE' | translate }}</a>
        </li>
      </div>
    </ul>
  </div>




  <div class="admin-content">

    <h1>
      {{'HELP_FAQ' | translate}}

      <div class="spinner" ng-show="loading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </h1>

    <hr/>




    <div question-object="question" ng-repeat="question in questions" ng-cloak>
      <br>
      <h2 id ="question{{$index+1}}" class="anchor">{{$index+1}}. {{ 'FAQ.' + question + '.TITLE' | translate }}</h2>
      <br>
      <p>{{ 'FAQ.' + question + '.TEXT' | translate }}</p>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

    <div id="help-page-bottom"></div>

  </div>

</div>


