@import "icomoon/style.css";
@import "variables";
@import "mixins";
@import "bootstrap";



.logo{
  width: 400px;
  max-width: 73%;
}

body{
  background-color: #222529;
  color: white;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  background-image: url("../img/bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;

}

.page-header {
  background: none;
  text-align: center;
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.project-tagline{
  font-size: 20px;
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
  max-width: 73%;
  margin: 0 auto;
}

.main-content {
  max-width: 1262px;
  padding: 2rem 4rem;
  margin: 0 auto;
  font-size: 16px;
}



.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: $primary;
}

a{
  color: $primary;

  &:hover{
    color: white;
  }
}

h2.content-heading{
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  word-spacing: .2em;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 70px;
  padding-top: 70px;
}


hr{
  margin: 60px 0;
  opacity: 0.3;
}

.feature-wrapper{
  @include clearfix;
  margin-right: -10px;

  .feature-box{
    float: left;
    width: 288px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: rgba(16, 17, 19, 0.5);
    padding: 15px;
    text-align: center;
    min-height: 245px;
    @include vendor-property('transition', 'background .4s');

    .feature-icon{
      font-size: 50px;
      margin-top: 7px;
      display: inline-block;
      border: 1px solid rgba(white, .25);
      padding: 20px;
      color: white;
      border-radius: 100%;
      @include vendor-property('transition', 'background .4s, color .4s');
    }

    .feature-title{
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 400;
      color: rgba(white, .75);
      margin: 20px 0 0;
      line-height: 1.4em;
    }

    .feature-description{
      font-size: 14px;
      color: rgba(white, .5);
      font-weight: 300;
      margin: 10px 0 10px;
      line-height: 1.4em;
    }

    &.coming-soon{
      opacity: 0.6;
    }


    &:hover{
      background: $secondary;
      text-decoration: none;

      .feature-icon{
        color: $secondary;
        background: white;
        box-shadow: 1px 1px 3px rgba(black, .5);
      }


      .feature-title{
        text-shadow: 1px 1px 3px rgba(black, .5);
        color: rgba(white, 1);
      }

      .feature-description{
        text-shadow: 1px 1px 3px rgba(black, .5);
        color: rgba(white, .75);
      }
    }
  }
}


.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.github-button{
  position: absolute;
  top: 20px;
  right: 20px;
}



.param-name{
  font-weight: bold;
  width: 190px;
  display: inline-block;
}

.param-description{
  font-size: 0.85em;
}


pre,
code{
  background-color: rgba(0, 0, 0, 0.5);
  color: #999;
  border: none;
}


img{
  max-width: 100%;
}


@media (max-width: 667px) {
  .logo {
    margin-top: 45px;
  }

  .main-content {
    padding: 2rem;
  }

  .feature-wrapper{
    margin-right: 0px;
    .feature-box{
      float: none;
      display: block;
      width: 100%;
    }
  }

  h2.content-heading{
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 30px;
  }

  body{
    background-image: none;
  }
}


.main-content #mc_embed_signup{
  background: transparent;

  form{
    padding: 10px 3% 10px 3%;
  }

  .mc-field-group{
    text-align: center;
    width: 100%;

    label{
      font-size: 16px;
      margin-bottom: 1em;
      font-weight: 100;
      opacity: 0.7;
    }

    input{
      background: rgba(255, 255, 255, 0.25);
      text-align: center;
      text-indent: 0;
    }
  }

  .button{
    background: $primary;
    display: block;
    margin: 0 auto;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.37);
    font-size: 17px;
    padding: .5em 2em;
    height: auto;
  }
}