.dashboard{
  padding: 15px;

  h3{
    font-size: 16px;
    text-transform: uppercase;
  }

  .genre-display{
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    padding-bottom: 18px;
    display: inline-block;
    font-size: 26px;
    font-weight: 100;
  }

}

.modal-media-detail{
  max-height:inherit !important;

  .icon-play{
    font-size: 52px;
    line-height: 1em;
  }

  legend{
    border: none;
    padding: 0;
    margin: 0;
  }

  .info-list{
    margin: 0;
    padding: 0;

    li{
      list-style: none;

      strong{
        margin-right: 6px;
        min-width: 86px;
        display: inline-block;
      }
    }
  }

  .overview-text{
    font-size: 14px;
  }

  .media-list-item.episode-wrapper{
    margin-bottom: 0px;
    margin-right: 9px;
  }
}

.browse-genres{
  position: relative;

  .toggle-menu-content{
    position: absolute;
    background: #1C1F21;
    border: 1px solid rgba(255, 255, 255, 0.11);
    top: 100%;
    margin-top: 9px;
    width: 640px;
    z-index: 9;
    padding: 13px 22px;
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.46);

    ul{
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        float: left;
        width: 25%;
      }
    }
  }
}

.new-releases-slider{
  opacity: 0;
  @include vendor-property('transition', 'opacity 0.3s');
  &.owl-carousel{
    opacity: 1;

    .owl-dots{
      text-align: center;
      padding: 10px;
    }
    .owl-item{
      .poster-image{
        width: auto;
      }
    }

    .new-releases-slide{
      @include flexbox();

      .image-background{
        @include flex(1);
        background-size: cover;
        background-position: 50% 0%;
      }
    }
    .info-icon{
      position: absolute;
      bottom: 7px;
      right: 7px;
      line-height: 1em;
      font-size: 31px;
      color: $primary;
      text-shadow: 1px 1px 1px black;
      z-index: 9;
    }
    .new-release-footer{
      position: absolute;
      left: 342px;
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.71) 20%);
      padding: 34px;
      bottom: 0;
      right: 0;
      @include flexbox;
      @include align-items(center);

      .play-icon{
        @include flex(none);
        margin-right: 30px;
        font-size: 50px;
      }

    }
    .new-releases-description{

      h3{
        font-size: 32px;
        text-transform: none;
        font-weight: 100;
      }

      h4{
        font-size: 22px;
        font-weight: 100;
      }
    }
  }
}
