.invitation-wrapper{
  max-width: 600px;
  margin: 70px auto;
  width: 100%;

  h1{
    font-weight: 300;
    text-align: center;
  }


}


.message-wrapper{
  max-width: 700px;
  margin: 70px auto;
  width: 100%;
  text-align: center;

  h1{
    margin-top: 0;
    color: lighten($success, 5%);
    font-size: 48px;
    font-weight: 300;
  }

  h2, h3{
    font-weight: 100;
  }

  i{
    font-size: 100px;
    color: lighten($success, 5%);
  }
}
