#login {
  padding: 0px;
  text-align: center;
}

.login-page{
  background-size: cover;
  background-position: center;
}

.auth-logo{
  max-width: 350px;
  margin-top: 55px;
}

#login .inner {
  max-width: 540px;
  width: 100%;
  padding-bottom: 6px;
  margin: 60px auto;
  text-align: left;

  .form-control {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
  }

  .cssform {
    padding: 16px;
    @include clearfix;
  }

  input[type="text"],
  input[type="password"]{
    padding-left: 10px;
  }
}


#login .inner .login_message {
  padding: 6px 25px 20px 25px;
  color: #c33;
}
