body{
  background-color: #25292B;
  color: white;
  font-weight: 300;
}

html, body { height: 100%; }

h1,h2,h3,h4,h5,h6{
  color: white;
}


.page-container{
  min-height: 100%;
  margin-bottom: -30px;
}

.page-container-push{
  height: 30px;
}

.footer{
  padding: 7px 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  text-align: center;
}

.version{
  color: #717475;
  font-size: 10px;
}

.logo{
  padding: 6px 0;
  position: relative;
  margin: 0 auto;
  display: block;

  img{
    max-width: 130px;
    max-height: 31px;
  }
  i{
    font-size: 0.85em;
  }

  .spinner{
    position: absolute;
    left: 142px;
    top: 20px;
  }
}

.navbar-collapse.collapsing,
.navbar-collapse.in{
  clear: both;
  display: block;
}



header.main{
  @include clearfix;
  background: rgba(0, 0, 0, 0.15);
  padding: 5px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);

  .navbar-nav{
    float: right;
    padding: 0;
    margin: 0;

    >li{
      list-style: none;
      display: inline-block;

      >a{
        color: white;
        padding: 11px 10px;
        display: block;
      }
    }
  }

  .avatar-in-header {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      z-index: 100;
      width: 30px;
    }
  }
}


.navbar-toggle{
  margin: 0;
  font-size: 30px;
  padding: 0 13px;
  line-height: 1.2em;
  position: absolute;
  top: 6px;
  right: 7px;
}

.content{
}

.dash-search{
  margin: 0;
  padding: 8px 9px 8px 0px;
}


.dropdown-menu>li{
  >a.typeahead-item{
    @include flexbox;
    @include align-items(center);
    padding: 7px;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);

    img{
      margin-right: 10px;
      width: 50px;
    }

    &.inactive{
      opacity: 0.5;
    }
  }


  &:last-child >a{
    border: none;
  }
}

hr{
  border-color: rgba(255, 255, 255, 0.08);
}


.sort-by{
  margin-left: 8px;
  .btn{
    .caret{
      margin-left: 8px;
    }
  }
}
