@media (max-width: 767px){
  .logo{
    float: none;
    display: block;
    margin-bottom: 2px;
  }

  header.main .navbar-nav{
    float: none;
    margin-top: 8px;

    >li{
      display: block;
      >a{
        padding: 5px 10px;
      }
    }
  }

  .browse-genres .toggle-menu-content{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    overflow-y: auto;
    margin: 0;

    ul li{
      float: none;
      width: auto;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding: 6px;
    }
  }

  .dash-filter{
    display: none;
  }

  .admin{
    position: static;
    .nav{
      width: 110px;
      ul li{
        font-size: 13px;
      }
    }

    .admin-content h1{
      font-size: 24px;
    }
  }

  .breadcrumb {
    font-size: 12px;
  }
}



@media (max-width: 670px){
  .media-poster-item{
    width: 23%;
    width: calc(25% - 15px);

    .media-item{
      height: auto;
    }
  }

  .media-list-continue-watching{
    .media-list-item{
      width: 47%;
      width: calc(50% - 15px);
    }
  }

}

@media (max-width: 430px){
  .media-poster-item{
    width: 47%;
    width: calc(50% - 15px);

    .media-item{
      height: auto;
    }
  }

  //.media-list-continue-watching{
  //  .media-list-item{
  //    float: none;
  //    width: auto;
  //  }
  //}
}