streama-video-player{
  &.nocursor{
    cursor:none;
    video{
      cursor:none;
    }
  }

  video.subtitle-size-lg::cue {
    font-size: 1.2em;
  }
  video.subtitle-size-md::cue {
    font-size: 1em;
  }
  video.subtitle-size-sm::cue {
    font-size: 0.8em;
  }
  @for $i from 10 through 60{
    video.subtitle-size-custom-#{$i}::cue{
      font-size: #{$i}px;
    }
  }
}

.video-wrapper-inner,
.player-wrapper{
  @include flexbox;
  @include align-items(center);

  background: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.player-wrapper{

  video {
    width: 100%;
    max-height: 100%;
  }


  .video-wrapper-inner.controls-visible{
    .next-video-overlay{
      padding-top: 40px;
    }
  }
  .next-video-overlay{
    @include vendor-property('transition', 'padding 0.2s');
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 30%);
    height: 40%;
    padding: 120px 100px 0 0;
    z-index: 9;

    .next-video-overlay-inner{
      width: 40%;
      float: right;

      h4{
        margin-top: 0px;
        color: #bfbfbf;
        font-weight: 300;
      }

      h3{
        margin-top: 0;
        font-size: 18px;
      }

      p{
        font-size: 13px;
      }

      .play-button{
        font-size: 30px;
      }
    }
  }

  .overlay{
    @include vendor-property('transition', 'opacity .5s');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.3) 100%);
    z-index: -999;


    opacity: 0;
    @include vendor-property('transition', 'opacity 0.3s');

    &.visible{
      opacity: 1;
      z-index: 10;
    }
  }

  .play-button{
    font-size: 23px;
    line-height: 1.5em;
    width: 1.5em;
    padding-left: 0.1em;
    height: 1.5em;
    border-radius: 100%;
    border: 1px solid white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.33);
    display: block;

    &.with-label{
      width: auto;
      border-radius: 26px;
      padding: 0 15px;
      font-weight: normal;
      display: flex;
      align-items: center;
      line-height: 1em;

      .play-label{
        font-size: 0.6em;
        margin-right: 12px;
      }
    }

    &:hover{
      background-color: rgba($primary, 0.3);
    }
  }

  .video-wrapper-inner > .play-button{
    position: absolute;
    margin: -0.75em;
    top: 50%;
    left: 50%;
    font-size: 82px;
    z-index: 9;
  }


  .player-back{
    position: absolute;
    top: 20px;
    left: 20px;
    box-shadow: 0 0 0 2px white;
    border-radius: 100%;
    width: 1.5em;
    line-height: 1.5em;
    text-align: center;
    font-size: 26px;
    z-index: 10;

    opacity: 0;
    @include vendor-property('transition', 'opacity 0.3s');

    &.visible{
      opacity: 1;
    }
  }

  .video-info{
    position: absolute;
    max-width: 600px;
    top: 20%;
    left: 10%;
    right: 100px;

    p{
      color: #999;
      margin: 0;
    }
    h1{
      margin: 0;
      margin-bottom: 10px;
    }

    h3{
      margin: 0;
      font-size: 20px;
      margin-bottom: 10px;
      font-weight: 300;
    }
  }

  .spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    margin-left: -48px;

    >div{
      background: $primary;
      width: 20px;
      height: 20px;
      margin-right: 12px;
    }
  }
}

