.resolve-reports-button{
  margin-bottom: 10px;
}

.show-reports-button{
  margin-bottom: 10px;
}
.report-sorter{
  margin-bottom: 10px;
}
.report-status-icon {
  padding: 1px 4px;
  border-radius: 3px;
}
