.spinner {
  width: 38px;
  text-align: center;
  display: inline-block;

  &.big{
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    z-index: 9;

    >div{
      background: $primary;
      width: 20px;
      height: 20px;
      margin-right: 12px;
    }
  }
}

.spinner > div {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.78);

  float: left;
  margin-right: 4px;
  border-radius: 100%;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.spinner.big-loading{
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;

  i{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.5em;
    margin-top: -0.5em;
  }
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}
