.flex-row{
  @include flexbox;
  margin-bottom: 10px;

  &.center{
    align-items: center;
  }

  .col{
    margin: 0 10px;
  }

  >*{
    @include flex(1);
  }
  >.no-flex{
    @include flex(none);
  }
}

.row-slim,
.form-horizontal .row-slim{
  margin-left: -5px;
  margin-right: -5px;
  [class*="col-"]{
    padding-left: 5px;
    padding-right: 5px;
  }
}

.modal-content{
  background-color: #3E4346;
}

legend{
  border-color: rgba(255, 255, 255, 0.19);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 17px;
  padding-bottom: 10px;
}

img{
  max-width: 100%;
  height: auto;
}

label{
  font-weight: 400;
}

.label{
  &.label-primary{
    background: darken($primary, 35%);
    text-shadow:  1px 1px 2px rgba(0, 0, 0, 0.35);
  }
}

.form-control{
  background-color: rgba(255, 255, 255, 0.12);
  color: white;

  &[disabled]{
    background-color: rgba(255, 255, 255, 0.12);
    opacity: 0.5;
  }

  option{
    color: black;
  }
}


[ui-sref],
[ng-click],
[uib-dropdown-toggle]{
  cursor: pointer;
}

.typeahead-wrapper{
  position: relative;

  .spinner{
    position: absolute;
    top: 11px;
    right: 25px;
  }
}

.alertify-message{
  color: #333;
}

.uppercase{
  text-transform: uppercase;
}


.fallback-image{
  background: url('../images/image-not-found.png');
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: 0 50%;
}



::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: rgba(211, 211, 211, 0.18);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #DDD;
}

.table-striped{
  background-color: #4C4C4C;

  thead{
    background: darken($primary, 30%);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
  }
}

.has-error{
  .form-control{
    box-shadow: inset 0 0 0 2px $danger;
  }
}

.has-success{
  .form-control{
    box-shadow: inset 0 0 0 2px $success;
  }
}

.has-feedback{
  .glyphicon{
    font-size: 24px;
  }
}

*{
  &:focus,
  &:active,
  &:focus:active{
    outline: none;
  }
}


.list-group-item{
  background-color: #292C2F;
  font-size: 12px;
}

.dropdown-menu{
  z-index: 9999;
  max-height: 500px;
  overflow: auto;
}

.input-xs{
  padding: 0 8px;
  height: 2em;
  font-size: 13px;
}


.movie-dragover-upload{
  position: relative;

  &:before {
    content: "Drop File here";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;

    background-color: rgba(desaturate(darken($primary, 25%),20%), 0.7);
    border: 2px dashed $primary;

    font-size: 54px;
    text-align: center;
    line-height: 450px;
    font-weight: 500;
  }
}


.comma-separatad{
  &:after{
    content: ", "
  }
  &:last-child{
    &:after{
      display: none;
    }
  }
}

.fade-50{
  opacity: 0.5;
}


.margin-top-10{
  margin-top: 10px;
}

.ui-select-multiple.ui-select-bootstrap{
  padding: 5px 3px 5px;
}


.flex{
  @include flexbox;
  @include align-items(center);
}

a{
  color: $primary;
  font-weight: 300;
  &:hover,
  &:focus,
  &:active{
    color: $primary;
  }
}








/********** COLOR UTILS ***********/

.bg-primary{
  background-color: $primary;
  color: white;
}

.bg-secondary{
  background-color: $secondary;
  color: white;
}


.text-primary{ color: $primary;}
.text-secondary{color: $secondary;}
.text-grey{color: grey;}




/********** OPACITY CLASSES ***********/
.opacity-50{
  opacity: 0.5;
}
.opacity-30{
  opacity: 0.3;
}
.opacity-70{
  opacity: 0.7;
}




/********** SPIN ICON ***********/

[class*='ion-']{
  &.spin{
    position: relative;
    margin: 0;
    height: 1em;
    width: 1em;
    text-align: center;

    &:before{
      @include spin;
    }
  }
}


/********** ICON OUTLINE ***********/

.icon-outline{
  border: 2px solid grey;
  border-radius: 100%;
  width: 1.2em;
  display: inline-block;
  line-height: 1.2em;
  font-style: normal;
  font-weight: 400;
  box-sizing: content-box;
  text-align: center;
  font-size: 1.2em;

  &.icon-outline-secondary{
    border-color: $secondary;
    color: $secondary;
  }
}


/********** PAGE LOADER ***********/

.page-loader{
  text-align: center;
  font-size: 52px;
  color: $primary;

  [class*='ion-'].spin{
    font-size: inherit;
    display: inline-block;
  }
}



/************* icon sizes ******************/
.icon-lg{
  font-size: 20px;
}
.icon-xl{
  font-size: 36px;
}



/************* icon styles ******************/
.play-icon{
  width: 1.8em;
  line-height: 1.8em;
  text-align: center;
  color: #b0ddef;
  font-size: 33px;
  border-radius: 100%;
  border: 1px solid white;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.35);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.78);
}