.flex-row{
  @include flexbox;
  margin-bottom: 10px;
  >*{
    @include flex(1);
  }
}

.row-slim,
.form-horizontal .row-slim{
  margin-left: -5px;
  margin-right: -5px;
  [class*="col-"]{
    padding-left: 5px;
    padding-right: 5px;
  }
}

.modal-content{
  background-color: #3E4346;
}

legend{
  border-color: rgba(255, 255, 255, 0.19);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 17px;
  padding-bottom: 10px;
}

img{
  max-width: 100%;
  height: auto;
}

label{
  font-weight: 400;
}

.label{
  &.label-primary{
    background: darken($primary, 35%);
    text-shadow:  1px 1px 2px rgba(0, 0, 0, 0.35);
  }
}

.form-control{
  background-color: rgba(255, 255, 255, 0.12);
  color: white;

  &[disabled]{
    background-color: rgba(255, 255, 255, 0.12);
    opacity: 0.5;
  }
}


[ui-sref],
[ng-click]{
  cursor: pointer;
}

.typeahead-wrapper{
  position: relative;

  .spinner{
    position: absolute;
    top: 11px;
    right: 25px;
  }
}

.alertify-message{
  color: #333;
}

.uppercase{
  text-transform: uppercase;
}


.fallback-image{
  background: url('../images/image-not-found.png');
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: 0 50%;
}



::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: rgba(211, 211, 211, 0.18);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #DDD;
}

.table-striped{
  background-color: #4C4C4C;

  thead{
    background: darken($primary, 30%);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
  }
}

.has-error{
  .form-control{
    box-shadow: inset 0 0 0 2px $danger;
  }
}

.has-success{
  .form-control{
    box-shadow: inset 0 0 0 2px $success;
  }
}

.has-feedback{
  .glyphicon{
    font-size: 24px;
  }
}

*{
  &:focus,
  &:active,
  &:focus:active{
    outline: none;
  }
}


.list-group-item{
  background-color: #292C2F;
  font-size: 12px;
}

.dropdown-menu{
  z-index: 9999;
  max-height: 500px;
  overflow: auto;
}

.input-xs{
  padding: 0 8px;
  height: 2em;
  font-size: 13px;
}


.movie-dragover-upload{
  position: relative;

  &:before {
    content: "Drop File here";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;

    background-color: rgba(desaturate(darken($primary, 25%),20%), 0.7);
    border: 2px dashed $primary;

    font-size: 54px;
    text-align: center;
    line-height: 450px;
    font-weight: 500;
  }
}
