$primary: #B0DDEF;
$secondary: darken($primary, 45%);
$grey-blue: #414c50;
$success: #05946F;
$danger: #CE2F39;
$grey-text: #a6a6a6;
$light-gray: lighten($grey-text, 40%);
$logo-color: #b0ddef;
$color-box-size: 30px;
